body {
    background: #D0CEC8;
}

* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 17px;
    font-size: 1vw;
    font-family: Lato;
}

/* Banner */

#banner {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
    height: 95%;
    padding-bottom: 5%;
}

a:visited, a:link {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    padding-right: 10%;
    font-size: 80px;
    font-size: 5vw;
    height:40%;
    font-style: Lato;
    
}

h2 {
    color: white;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 30px;
    font-size: 40px;
    font-size: 2.7vw;
}

h3 {
    color: black;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    color: black;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background: #005977;
    height: 45%;
}

nav {
    background: #013B4E;
    height: 20%;
}

#text-zone ul li {
    margin-bottom: 3%;
}

#menu_container {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    height: 5vw;
}

#menu_container ul {
    height: 100%;
    list-style-type: none;
}

#menu_container ul li {
    width: 15%;
    height: 100%;
    float: left;
    /*font-size: 23px;
    font-size: 1.3vw;*/
}

#menu_container ul li #button-text {
    margin-top: 25%;
    text-align: center;
}

#menu_container ul li:hover {
    float: left;
    background-color: #002F3D;
    color: #989898;
}

/* Page */

#page {
    margin-left: 15%;
    margin-right: 15%;
    height: 1000px;
    background: #F5F4EF;
}

#front-page {
    margin-left: 15%;
    margin-right: 15%;
    height: 550px;
    height: 29vw;
    background: #F5F4EF;
}

#front-page #text {
    margin-top: 5%;
    float:left;
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    height:100%;
}

#front-page #image {
    float:right;
    width: 30%;
    height:100%;
    background:#454750;
}

#front-page #image img {
    margin-left: 10%;
    margin-top: 10%;
    width:80%;
}

#page-text-zone {
    height: 1000px;
    width:70%;
    float: left;
}

/* sidebar */

#sidebar {
    height: 100%;
    width:30%;
    max-width: 600px;
    background: #454750;
    float: right;
}

#sidebar-margin {
    height: 98%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 6%;
}

#sidebar-text-zone {
    margin: 8% 6% 8% 6%;
    height: 500px;
    width: 88%;
}

img {
    width: 100%;
}

sidebar-text-zone-title {
    color: white;
    font-size: 25px;
    font-size: 1.2vw;
    margin-bottom: 5%;
}

sidebar-text-zone-description {
    color: white;
    font-size: 20px;
    font-size: 1vw;
}

/* footer */

#footer-top {
    height: 20px;
    width: 100%;
    background: #005977;
    display: block;
}

footer {
    width: 100%;
    height: 120px;
    background: #013B4E;
}

#footer-element {
    padding: 20px 0 0 0;
    width: 100%;
    height: 50%;
}

#footer-element * {
    color: #888888;
    list-style-type: none;
}

#footer-menu {
    height: 100%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

#footer-menu nav ul li {
    float:left;
    margin-right: 1%;
    margin-left: 1%;
}


/* Description page */

#text-zone {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 8%;
    width: 90%;
    height: 90%;
}

#text-zone a {
    color: blue;
}

#text-zone ul {
    margin-left: 3%;
}

p {
    margin-bottom: 3%;
    line-height: 2;
}

section {
    margin-bottom: 8%;
}

iframe {
    width: 100%;
}

@media screen and (max-device-width: 980px) {
    * {
        font-size: 15px;
        font-size: 3vw;
    }
    
    #page, #front-page, #menu_container, #banner {
        margin-left: 0;
        margin-right: 0;
    }
    
    #menu_container, #banner {
        margin-left: 2%;
    }
    
    #menu_container ul li {
        font-size: 15px;
        font-size: 2.8vw;
    }
    
    nav {
        height: 40%;
    }
    
    header {
        height: 100%;
    }
    
    h1 {
        font-size: 50px;
        font-size: 10vw;
    }
    
    h2 {
        font-size: 25px;
        font-size: 5vw;
    }
    
    h3 {
        font-size: 20px;
        font-size: 4vw;
    }
    
    h4 {
        font-size: 17px;
        font-size: 3.3vw;
    }
    
    #text-zone ul li {
        margin-bottom: 5%;
    }
    
    sidebar-text-zone-title {
        font-size: 3vw;
    }
    
    sidebar-text-zone-description {
        font-size: 2.4vw;
    }
    
    section {
        margin-bottom: 15%;
    }
    
    #front-page {
    margin-left: 15%;
    margin-right: 15%;
    height: 550px;
    background: #F5F4EF;
}
}

@media screen and (max-device-width: 480px) {
    #menu_container ul li {
        font-size: 10px;
        font-size: 2.5vw;
    }
}